body{
    margin: 0;
    padding: 0;
    background-image: url(../images/Banner.png);
    width: 1440px;
    min-height: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.container{
    margin:0 auto;
    width: 1200px;
}
.transparent_header{
    width: 1160px;
    height: 104px;
    opacity: 0.7;
    background: var(--0-a-0-a-0-a, #0A0A0A);
    backdrop-filter: blur(25px);
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left_a{
    width: 170px;
    min-height: 42px;
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.menu_parent {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.menu_parent li{
    color: var(--939393, #939393);
    font-family: Neue Machina;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 36px;
}
.header_right{
   display: flex; 
   width: 90px;
   justify-content: space-between;
}
.one a{
    display: block;
    width: 32px;
    min-height: 32px;
    background-image: url(../images/Search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.two a{
    display: block;
    width: 32px;
    min-height: 32px;
    background-image: url(../images/Buy.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
